body {
    margin: 0px;
}

h1 {
font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    }

.summer-autumn {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}
.winter {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.section {
    float: left;
    min-height: 200px;
    min-width: 33.33%;
    background-color: lightgreen;

}

p {
        width: 550px;
        text-align: justify;
        margin: 50px auto;
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
}

.container {
    background-color: lavenderblush;
    width: 100%;
    min-height: 300px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}

nav.navbar {
    background-color: lightgreen;
    width:100%;
    padding:10px 0px;
}

nav.navbar ul {
    list-style: inline-block;
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    text-align: center;
}

nav.navbar li{
    border-bottom: 1px solid gray;
    
    }



nav.navbar li:last-child {
    border-bottom: none; 
}
nav.navbar a {
    font-size: 22px;
    line-height: 36px;
    text-decoration: none;
    color:black;
}
.img-container {
    width: 500px;
    margin: auto;
  }

  .img-container img {
    width: 100%;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
  }

  li {
      list-style-type: none;
      font-family: Arial, Helvetica, sans-serif;
  }

  .autumn-list {
      text-align: left;
    
  }

@media(min-width: 768px){
    .container {
        background-color: lightblue;

    }

}

@media(min-width: 992px){
    .container {
        width: 960px;
        background-color: lightyellow;
    }
}
